{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>



  {% for project in projects.assignments %}
  <div class="item">

    <div class="meta">
      <div class="upper-row">
        {% if project.link %}
        <h3 class="job-title">{{ project.title }}</h3>
        {% else %}
        <h3 class="job-title">{{ project.title }}</h3>
        {% endif %}
        {% if project.time %}
        <div class="time">
          {{ project.time }}
        </div>
        {% endif %}
      </div>

      {% if project.company %}
      <div class="company">
        {{ project.company }}
      </div>
      {% endif %}

      {% if project.techStack %}
      <div class="techStack">
       Technical Stack:  {{ project.techStack }}
      </div>
      {% endif %}
      
      {% if project.description %}
      <div class="description">
        {{ project.description }}
      </div>
      {% endif %}

      

      {% if project.responsibilities %}
      <div>&nbsp;</div>
      <div class="responsibilities">
        {{ project.responsibilities }}
      </div>
      {% endif %}
    </div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}